{% extends "base.html" %}
{% load static %}

{% block content %}
<!--=== RSVP form ===-->
<section class="rsvp js-section" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="rsvp-box u-bg-white">
                    <div class="js-form-wrapper">
                        <div class="text-center">
                            <h3 class="rsvp-box__title u-font-script">Compléter mon invitation</h3>
                            <p class="rsvp-box__subtitle">Merci de nous faire part de votre retour <mark
                                    class="font-weight-bold">avant le 31 juillet 2021 au plus tard</mark></p>
                        </div>
                        <form method="POST" class="rsvp-form js-form" id="rsvp-form"
                            action="{% url 'attendees:invitation-update' object.pk %}">
                            {% csrf_token %}
                            <div class="d-md-flex justify-content-between">
                                <div class="rsvp-form__left">
                                    {% with total=object.attendees.count %}
                                    <label class="font-weight-bold">Convive{{ total|pluralize }}</label>
                                    {% for attendee in object.attendees.all %}
                                    <div class="rsvp-form-field">
                                        <p class="font-italic">{{ attendee }}</p>
                                    </div>
                                    {% endfor %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox"
                                            id="form.attend_the_ceremony.id">
                                        <label class="form-check-label"
                                            for="{{ form.attend_the_ceremony.id_for_label }}">Présent{{ total|pluralize }} à la cérémonie</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox"
                                            id="form.attend_the_dinner.id">
                                        <label class="form-check-label"
                                            for="{{ form.attend_the_dinner.id_for_label }}">Présent{{ total|pluralize }} au dîner</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox"
                                            id="form.attend_the_party.id">
                                        <label class="form-check-label"
                                            for="{{ form.attend_the_party.id_for_label }}">Présent{{ total|pluralize }} à la soirée</label>
                                    </div>
                                    {% endwith %}
                                </div>
                                <div class="rsvp-form__right">
                                    {% with total=object.attendees.count %}
                                    <label class="font-weight-bold">Convive{{ total|pluralize }}</label>
                                    {% endwith %}
                                    {% for attendee in object.attendees.all %}
                                    <div class="rsvp-form-field">
                                        <p><span class="font-italic">{{ attendee }}</span><br />
                                            {{ attendee.mobile_phone }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" class="rsvp-form-submit js-submit">
                                <ion-icon name="heart" class="icon icon--sm icon--white animation-pulse"></ion-icon>
                                <span>Send</span>
                                <ion-icon name="heart" class="icon icon--md icon--white animation-pulse"></ion-icon>
                            </button>
                        </form>
                    </div>
                    <!-- this message appears after rsvp-form is submitted correctly -->
                    <div class="rsvp-confirmation text-center js-form-confirmation">
                        <h4>We recieved your reservation.</h4>
                        <span class="u-font-script u-h3">thank you!</span>
                        <ion-icon name="heart" class="icon icon--md icon--primary"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End of RSVP rsvp-form. ==-->
{% endblock %}