{% extends "base.html" %}
{% load static %}

{% block content %}
{{ object }}
<!--=== RSVP form ===-->
<section class="rsvp js-section" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="rsvp-box u-bg-white">
                    <div class="js-form-wrapper">
                        <div class="text-center">
                            <h3 class="rsvp-box__title u-font-script">be our guest!</h3>
                            <p class="rsvp-box__subtitle">Please confirm your arrival by <mark
                                    class="font-weight-bold">February 14, 2019</mark></p>
                        </div>
                        <form method="POST" class="rsvp-form js-form" id="rsvp-form" action="php/rsvp.php">
                            <div class="d-md-flex justify-content-between">
                                <div class="rsvp-form__left">
                                    <div class="rsvp-form-field">
                                        <input type="text" name="fullname" placeholder="Full Name" required>
                                    </div>
                                    <div class="rsvp-form-field">
                                        <input type="email" name="email" placeholder="Your E-mail" class="js-email"
                                            required>
                                        <p class="rsvp-form-field__error js-email-error">E-mail is incorrect.</p>
                                    </div>
                                    <div class="rsvp-form-field">
                                        <input type="number" name="guests" placeholder="Number of guests" required>
                                    </div>
                                    <div class="rsvp-form-field">
                                        <select name="attending" required>
                                            <option value="" disabled selected>You are attending?</option>
                                            <option value="all">All</option>
                                            <option value="ceremony">Ceremony</option>
                                            <option value="party">Dinner & Party</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="rsvp-form__right">
                                    <div class="rsvp-form-field h-100">
                                        <textarea rows="4" placeholder="Your Message" class="h-100"
                                            name="message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="rsvp-form-submit js-submit">
                                <ion-icon name="heart" class="icon icon--sm icon--white animation-pulse"></ion-icon>
                                <span>Send</span>
                                <ion-icon name="heart" class="icon icon--md icon--white animation-pulse"></ion-icon>
                            </button>
                        </form>
                    </div>
                    <!-- this message appears after rsvp-form is submitted correctly -->
                    <div class="rsvp-confirmation text-center js-form-confirmation">
                        <h4>We recieved your reservation.</h4>
                        <span class="u-font-script u-h3">thank you!</span>
                        <ion-icon name="heart" class="icon icon--md icon--primary"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End of RSVP rsvp-form. ==-->
{% endblock %}