{% extends "base.html" %}
{% load static %}

{% block content %}
<!--=== Update alert ===-->
<section class="js-section u-p-t-5 u-p-b-5" id="alert">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<strong>Attention :</strong> Le contenu de cette page est amené à évoluer jusqu'au jour J !
					N'hésitez pas à y revenir régulièrement.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== End of update alert. ==-->

<!--=== Arrangements ===-->
<section class="js-section u-p-t-5 u-p-b-5" id="arrangements">
	<h2 class="u-font-script text-center u-m-b-5">Dispositions liées à la crise sanitaire</h2>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 rules">
				<p class="text-center"><img src="{% static 'img/pass-sanitaire-cover.png' %}"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 rules">
				<p>La situation sanitaire nous impacte tous. Dans ce contexte, la règlementation nous impose de nous soumettre au principe du <a href="https://www.gouvernement.fr/info-coronavirus/pass-sanitaire" target="_blank">pass sanitaire</a> pour cette journée qui se veut si spéciale pour nous, si unique.</p>
				<p>Aussi, vous devez savoir que le <span class="font-weight-bold">Manoir des Brumes</span> se voit contraint d'appliquer les mêmes règles d'accès que certains lieux publics tels que les restaurants ou les cinémas. Il vous sera donc demandé de présenter votre <span class="font-weight-bold">pass sanitaire</span> afin de pouvoir accéder au lieu et prendre part aux festivités.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 rules">
				<p class="font-weight-bold">Pour rappel : pass sanitaire = schéma vaccinal complet ou test antigénique ou PCR de 72H</p>
				<p>Merci donc de bien vouloir vous renseigner via la <a href="https://www.gouvernement.fr/info-coronavirus/pass-sanitaire" target="_blank">page officielle d'informations au sujet du pass sanitaire</a> et ainsi prendre vos dispositions en prévision du 4 septembre prochain.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="location__text location__text--sm u-bg-grey ml-auto u-m-b-3" data-aos="zoom-in-right">
					<h6 class="text-uppercase">Tests antigéniques</h6>
					<h3>Pharmacie du Marché</h3>
					<p>4-6 Rue de Vienne, 27140 GISORS</p>
					<p class="font-italic">
						tests réalisés le samedi de 15H30 à 17H00
					</p>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.7889617630613!2d1.7751930156549487!3d49.28039597933107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6e0aff3305ee5%3A0x1d5037bd4e649924!2sPharmacie%20Du%20Marche!5e0!3m2!1sfr!2sfr!4v1629546456837!5m2!1sfr!2sfr"
						width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="location__text location__text--sm u-bg-grey" data-aos="zoom-in-left">
					<h6 class="text-uppercase">Tests antigéniques</h6>
					<h3>Pharmacie de l'Epte</h3>
					<p>35 Rue de Paris, 27140 GISORS</p>
					<p class="font-italic">
						tests réalisés le samedi de 14H00 à 18H00
					</p>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.9417334644736!2d1.775546615654843!3d49.27750127933083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6e0ae3753c59f%3A0xd2a9c1328c6b14bd!2sPharmacie%20de%20l&#39;Epte!5e0!3m2!1sfr!2sfr!4v1629546744684!5m2!1sfr!2sfr"
						width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 tousanticovid">
				<p class="text-center"><img src="{% static 'img/tousanticovid-cover.png' %}"></p>
				<p class="text-center"><span class="font-weight-bold font-primary wedding-link"><a href="https://bonjour.tousanticovid.gouv.fr/" target="_blank">#TousAntiCovid</a></span></p>
				<p class="text-center">
					<a href="https://itunes.apple.com/app/id1511279125" target="_blank" id="ios">
						<img src="{% static 'img/appstore-badge.png' %}">
					</a>
					<a href="https://play.google.com/store/apps/details?id=fr.gouv.android.stopcovid" target="_blank" id="android">
						<img src="{% static 'img/google-play-badge.png' %}">
					</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!--== End of arrangements. ==-->
{% endblock %}