{% extends "base.html" %}
{% load static %}

{% block content %}
<!--=== Update alert ===-->
<section class="js-section u-p-t-5 u-p-b-5" id="alert">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<strong>Attention :</strong> Le contenu de cette page est amené à évoluer jusqu'au jour J !
					N'hésitez pas à y revenir régulièrement.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== End of update alert. ==-->

<!--=== Arrangements ===-->
<section class="js-section u-p-t-5 u-p-b-5" id="arrangements">
	<h2 class="u-font-script text-center u-m-b-5">Dispositions liées à la crise sanitaire</h2>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 rules">
				<p class="text-center"><img src="{% static 'img/pass-sanitaire-cover.png' %}"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 rules">
				<p>La situation sanitaire nous impacte tous. Dans ce contexte, la règlementation nous impose de nous soumettre au principe du <a href="https://www.gouvernement.fr/info-coronavirus/pass-sanitaire" target="_blank">pass sanitaire</a> pour cette journée qui se veut si spéciale pour nous, si unique.</p>
				<p>Aussi, vous devez savoir que le <span class="font-weight-bold">Manoir des Brumes</span> se voit contraint d'appliquer les mêmes règles d'accès que certains lieux publics tels que les restaurants ou les cinémas. Il vous sera donc demandé de présenter votre <span class="font-weight-bold">pass sanitaire</span> afin de pouvoir accéder au lieu et prendre part aux festivités.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 rules">
				<p class="font-weight-bold">Aucun dérogation ne sera accordée sur place.</p>
				<p>Merci donc de bien vouloir vous renseignez via la <a href="https://www.gouvernement.fr/info-coronavirus/pass-sanitaire" target="_blank">page officielle d'informations au sujet du pass sanitaire</a> et ainsi prendre vos dispositions en prévision du 4 septembre prochain.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 tousanticovid">
				<p class="text-center"><img src="{% static 'img/tousanticovid-cover.png' %}"></p>
				<p class="text-center"><span class="font-weight-bold font-primary wedding-link"><a href="https://bonjour.tousanticovid.gouv.fr/" target="_blank">#TousAntiCovid</a></span></p>
				<p class="text-center">
					<a href="https://itunes.apple.com/app/id1511279125" target="_blank" id="ios">
						<img src="{% static 'img/appstore-badge.png' %}">
					</a>
					<a href="https://play.google.com/store/apps/details?id=fr.gouv.android.stopcovid" target="_blank" id="android">
						<img src="{% static 'img/google-play-badge.png' %}">
					</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!--== End of arrangements. ==-->
{% endblock %}