{% extends "base.html" %}
{% load static %}

{% block content %}
<!--=== Intro: About bride & groom. Counter. ===-->
<section class="intro" id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="u-m-b-5 text-center u-font-script">Nous comptons les jours et les heures...</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<!-- Counter. Set your date here as data-date="yyyy/mm/dd" -->
				<ul class="counter-list js-counter clearfix" data-date="2021/09/04">
					<li class="counter-list__item">
						<span class="js-counter-days">124</span>
						<p>jours</p>
						<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
					</li>
					<li class="counter-list__item">
						<span class="js-counter-hours">20</span>
						<p>heures</p>
						<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
					</li>
					<li class="counter-list__item">
						<span class="js-counter-minutes">30</span>
						<p>minutes</p>
						<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
					</li>
					<li class="counter-list__item">
						<span class="js-counter-seconds">50</span>
						<p>secondes</p>
					</li>
				</ul>
				<!-- end of counter -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 id="protag" class="u-m-b-5 text-center u-font-script">...site en construction...</h2>
				<h4 class="u-m-b-5 text-center">N'hésitez pas à revenir d'ici quelques jours</h4>
			</div>
		</div>
	</div>
</section>
<!--== End of intro section. ==-->

<!--=== Location Info ===-->
<section class="location js-section" id="location">
	<h2 class="u-font-script text-center u-m-b-5">Où et quand ?</h2>
	<div class="container">
		<div class="row">
			<!-- Location: left column -->
			<div class="col-md-6">
				<div class="location__text location__text--sm u-bg-grey ml-auto u-m-b-3" data-aos="zoom-in-right">
					<h6 class="text-uppercase">Mairie - 15H00</h6>
					<h3>Mairie du 19<sup>ème</sup> arrondissement</h3>
					<p>5-7 Place Armand Carrel, 75019 Paris</p>
				</div>
			</div>
			<!-- Location: right column -->
			<div class="col-md-6">
				<div class="location__text location__text--sm u-bg-grey" data-aos="zoom-in-left">
					<h6 class="text-uppercase">Pour les festivités</h6>
					<h3>Manoir des Brumes</h3>
					<p>2, Route de la Mer, 27150 Bouchevilliers</p>
					<p>Accueil : dès 17H00.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="location__text location__text--sm u-bg-grey ml-auto u-m-b-3" data-aos="zoom-in-right">
					<h6 class="text-uppercase">Cérémonie de Bénédiction - 18H00</h6>
					<h6 class="text-uppercase">Rhum d'honneur - 18H30</h6>
				</div>
			</div>
			<div class="col-md-6">
				<div class="location__text location__text--sm u-bg-grey" data-aos="zoom-in-left">
					<h6 class="text-uppercase">Dîner - 20H30</h6>
					<h6 class="text-uppercase">Party - 23H30</h6>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== End of location info. ==-->
{% endblock %}