{% extends "base.html" %}
{% load static %}

{% block content %}
<!--=== Update alert ===-->
<section class="js-section u-p-t-5 u-p-b-5" id="alert">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<strong>Attention :</strong> Le contenu de cette page est amené à évoluer jusqu'au jour J !
					N'hésitez pas à y revenir régulièrement.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== End of update alert. ==-->

<!--=== Wedding List ===-->
<section class="js-section u-p-t-5 u-p-b-5" id="program">
	<h2 class="u-font-script text-center u-m-b-5">Liste de mariage</h2>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<p>Après 11 années, nous avons accumulé pas mal de vaisselle. Alors notre souhait principal est que vous puissiez nous aider à financer <span class="font-weight-bold">notre voyage de noces,
					prévu au mois de Janvier, d’une durée d’environ 20 jours, au Kenya !</span></p>
				<p>Nous souhaitons également amorcer notre futur déménagement avec les objets ci-dessous :</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<ul>
					<li><span class="font-weight-bold font-primary">Réfrigérateur Américain</span> <span class="wedding-link">(<a href="https://www.boulanger.com/ref/1105805" target="_blank">voir un exemple</a>)</span></li>
					<li><span class="font-weight-bold font-primary">Aspirateur Dyson</span> <span class="wedding-link">(<a href="https://www.dyson.fr/aspirateurs/sans-fil/dyson-v15/detect-absolute" target="_blank">voir un exemple</a>)</span></li>
					<li><span class="font-weight-bold font-primary">Chaises de salon</span> <span class="wedding-link">(<a href="https://www.laredoute.fr/ppdp/prod-528977202.aspx" target="_blank">voir un exemple</a>)</span></li>
					<li><span class="font-weight-bold font-primary">Tapis de salon</span> <span class="wedding-link">(<a href="https://www.laredoute.fr/ppdp/prod-533005200.aspx" target="_blank">voir un exemple</a>)</span></li>
					<li><span class="font-weight-bold font-primary">Table basse</span> <span class="wedding-link">(<a href="https://www.tikamoon.com/art-table-basse-rangement-en-palissandre-massif-bonnie-2606.htm" target="_blank">voir un exemple</a>)</span></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1" style="margin-top: 2rem;">
				<p class="font-weight-bold">Une urne sera à disposition le jour-J pour accueillir votre participation à ces futurs projets !</p>
			</div>
		</div>
	</div>
</section>
<!--== End of wedding list. ==-->
{% endblock %}